<!DOCTYPE html>
<html style="margin: 0;padding: 0;overflow-y: scroll;font-size: 100%;-webkit-text-size-adjust: 100%;-ms-text-size-adjust: 100%;">
<head>
<title>
Wikidate
</title>

<meta content="authenticity_token" name="csrf-param">
<meta content="qFBQRRjCg60BBLKAO5SnLAKOe8GkFjdD4w1HSxJHivM=" name="csrf-token">
</head>
</html>
<body>
<a href="http://www.secubat.com">
Excellente Année 2012!
<img src="http://www.secubat.com/images/voeux/voeux2012.png" />
</a>
<br />
L'équipe Secubat (ex Danybat)
<br />
Téléphone: 06 09 15 09 78
<br />
Site web: <a href="http://www.secubat.com">www.secubat.com</a>
<br />
Contact: <a href="mailto:michel.beaudenon@secubat.com">michel.beaudenon@secubat.com</a>
<br />
</div>
</body>
